@model Lab06.MVC.BLL.DTO.RegisterDto

<div class="container mt-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h2 class="text-center">Student Registration</h2>
        </div>
        <div class="card-body">
            <form method="post" asp-controller="Account" asp-action="Register">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LastName">Last Name</label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="FirstMiddleName">First/Middle Name</label>
                    <input asp-for="FirstMiddleName" class="form-control" />
                    <span asp-validation-for="FirstMiddleName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EnrollmentDate">Enrollment Date</label>
                    <input asp-for="EnrollmentDate" class="form-control" />
                    <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input type="password" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PasswordConfirm">Confirm Password</label>
                    <input type="password" asp-for="PasswordConfirm" class="form-control" />
                    <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input class="btn btn-outline-primary btn-lg" type="submit" value="Registration" />
                </div>
            </form>
        </div>
    </div>
</div>
