@model IEnumerable<Lab06.MVC.DAL.Entities.StudentEntity>

<h2>List of Users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        @if (!user.Email.StartsWith("admin"))
        {
            <tr>
                <td>@user.Email</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-userid="@user.Id">Add</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-userid="@user.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    }
</table>
